html {
    scroll-behavior: smooth;
}

#header-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../images/colorful-scandinavian-abstract-geometric-art-simona-croitoru.jpg);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}

#second-section {
    background-color: rgb(141, 183, 211);
} 

#parallax-section {
    background-image: url(../images/ombre.webp);
    background-position: right bottom;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

#footer-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../images/pink\,\ pastel.jpg);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}